{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <hero>
    <h1>Welome to the most amazing adventure</h1>
    <img src="/img/cover.jpg" alt="Cover image">
  </hero>
  <p>This webbpage will take you on an amazing adventure!</p>
  <p>Please insert Post code so the player can enter theire name!</p>
  <p>
Experience the magical journey of a newborn in the picturesque town of Umeå, where everyday moments transform into lifelong adventures. In our captivating tale, the newborn takes their first step into Smauel's Spaghetteria, a charming corner of Umeå where the scent of freshly cooked pasta and joyful laughter fills the air.</p>

<p>Become a part of this unforgettable moment as the little adventurer chooses between playful rattle pasta, enchanting spaghetti swirls, and adorable coos in front of cheese-filled cannelloni. Each choice opens a new world of joy and surprises, blending seamlessly with Smauel's warm atmosphere.</p>

<p>Join the journey as the newborn, surrounded by laughing friends, explores and discovers a unique connection to Smauel's Spaghetteria. This is not just a story of the first taste of pasta but a captivating saga where everyday encounters lead to unforgettable adventures, shaping destiny in ways only Umeå can unveil.</p>

<p>Come and experience the beginning of this enchanting tale where every choice is a key to a wonderful world of magic and surprises. Umeå awaits to welcome you to Smauel's Spaghetteria, where the ordinary becomes an epic journey for both young and old!</p>
  <p><a href="/story/0">Please click here to begin.</a></p>
</main>
{% endblock %}