{% extends "layout.njk" %}
{% block content %}
<main class="container">
  {% if part %}
  <div>
    <h2>{{part.name}}</h2>
    <p>{{part.text}}</p>
    <ul>
      {% for option in part.options %}
      <li><a href="/story/{{option.target}}">{{option.text}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <p>There is no part to display</p>
  {% endif %}
</main>
{% endblock %}