{% extends "layout.njk" %}
{% block content %}
<main class="container">
  {% if part %}
  <div>
    <div class="hero">
      <h1>{{part.name}}</h1>
      {% if part.image %}
      <img src="/img/{{part.image}}" alt="{{part.name}}">
      {% endif %}
    </div>
    <p>{{part.text}}</p>
    <ul>
      {% for option in part.options %}
      <li><a href="/story/{{option.target}}">{{option.text}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <p>There is no part to display</p>
  {% endif %}
</main>
{% endblock %}